<div class="oj-panel oj-flex-items-pad">
        <div class="oj-flex">
            <div class="oj-flex-item oj-md-flex-direction-column side-column"></div>
            <div class="oj-md-flex-direction-column oj-flex-item view-list-container">
                <swipe-listview-items></swipe-listview-items>
            </div>
          <div class="oj-flex-item oj-md-flex-direction-column side-column"></div>
        </div>
  </div>

    <!-- <filter-table tableid="AddressBook" filter="" data={{addressBookData}} onrowclick="{{handleRowClick}}"></filter-table> -->
    <!-- <ul style="list-style:none" data-bind="foreach: addressBookData">
        <li data-bind="text: 'Name: '+ALPH"></li>
      <li data-bind="text: 'Address Number: '+AN8"></li>

    </ul> -->

