<div class="oj-panel oj-flex-items-pad rss-main-wrapper">
        <div>
            <div class="oj-flex">
                <div class="oj-flex-item oj-md-flex-direction-column side-column"></div>
                <div class="oj-md-flex-direction-column oj-flex-item rss-box">
                    
                </div>
                <div style="margin-bottom:75px" class="oj-md-flex-direction-column oj-flex-item rss-box">
                        <samrc-rss></samrc-rss>
                    </div>
                <div class="oj-flex-item oj-md-flex-direction-column side-column"></div>
            </div>
            
        </div>
        
</div>
<login-status-bar></login-status-bar>